*,
*:after,
*:before {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: black;
    background: #fff;
    margin: 0 auto;
    width: 100%;
}

a {
    text-decoration: none;
    color: #f0f0f0;
    outline: none;
}

a:hover {
    color: #516977;
}

.text-center {
    text-align: center;
}





#menu, #content, #footer {
    margin: 0 auto;
    width: 1100px;
    border: 1px solid #c9c9c9;
    background: #f6f6f6;
    margin-top: 50px;
}

#footer {
    margin-bottom: 40px;
}

/*********************************
*           ADMIN
**********************************/

#admin-menu {
    text-align: center;
    margin: 40px auto 40px auto;
    width: 100%;
}

.admin-button {
    margin: 20px;
    height: 150px;
    width: 40%;
}

/*********************************
*           MENU
**********************************/

#menu {
    max-width: 100%;
    margin: 0 auto;
}

#menu ul {
    text-align: center;
    padding: 0;
}

#menu ul li {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
}

#menu ul li a {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: #2C2D34;
    border-radius: 2px;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    color: #fff;
    padding: 10px 30px 10px 30px;
    text-transform:uppercase;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

#menu ul li a:hover {
    background: #6000e6;
}


/*********************************
*           HOME PAGE
**********************************/

.articles {
    margin: 0 auto;
    padding: 4em 1em;
    max-width: 1200px;
    text-align: center;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.article {
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-width: 16em;
    margin: 0 1em 2.5em;
    padding: 1.5em 1.5em 2em;
    background: white;
    border-radius: 5px;
    width: 30%;
    height: 750px;
}

.article--selected {
    box-shadow: 0 0 0 2px #6000e6;
}


/* article info */
.article_info > span {
    display: block;
    padding: 1em 0;
}


.article_image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.article:hover .article_image {
    -webkit-animation: swing 0.6s forwards;
    animation: swing 0.6s forwards;
}

.article_title {
    font-size: 150%;
    margin: 1em 0 0;
    min-height: 3em;
}

.article_price {
    font-weight: bold;
    color: #797BED;
}

.action {
    display: inline-block;
    font-size: 1em;
    white-space: nowrap;
    padding: 0.85em 1.25em;
    cursor: pointer;
    border: none;
    background: transparent;
    text-align: center;
}

.action:focus {
    outline: none;
}

.article-button {
    background: #2C2D34;
    color: #fff;
    border-radius: 2px;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.article-button:hover {
    background: #6000e6;
}

.article-button i + span {
    margin-left: 1em;
}

.article-close {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    font-size: 1.5em;
    color: #ddd;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity 0.3s, background 0.2s;
    transition: opacity 0.3s, background 0.2s;
}



/*********************************
*           RESPONSIVE
**********************************/


@media screen and (max-width: 1200px) {
    body {
        width: 50em;
    }
    .articles {
        padding: 2em 0.5em;
        font-size: 65%;
    }

    .article {
        margin: 0 0.5em 1em;
        min-width: 13em;
    }

    .article_title {
        font-size: 115%;
    }

    .container {
        flex-direction: column;
        margin-top: 60px;
    }

    .left-column,
    .right-column {
        width: 100%;
    }

    .left-column img {
        transition: all 0.3s ease;
    }
}

@media (max-width: 535px) {
    .left-column img {
        width: 220px;
        top: -85px;
    }
}

/*********************************
*          BOX ERROR
**********************************/

.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 10000;
    color: white;
}

.alert.error {
    background-color: #f44336;
}

.alert.succes {
    background-color: #3cb63f;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/*********************************
*          FORM TEMPLATE
**********************************/

.form_template{
    width:450px;
    padding:30px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    background: #FFF;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.form_template .inner-wrap{
    padding: 30px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
}
.form_template h1{
    background: #6000e6;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #5000cb;
}
.form_template h1 > span{
    display: block;
    margin-top: 2px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form_template label{
    display: block;
    font: 13px Arial, Helvetica, sans-serif;
    color: #888;
    margin-bottom: 15px;
}
.form_template input[type="text"],
.form_template input[type="date"],
.form_template input[type="datetime"],
.form_template input[type="email"],
.form_template input[type="number"],
.form_template input[type="search"],
.form_template input[type="url"],
.form_template input[type="password"],
.form_template textarea,
.form_template select {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form_template input[type="radio"] {
    display: block;
    width: 30%;
    text-align: left;
    margin-left: 15px;
}

.form_template .section{
    font: normal 20px 'Bitter', serif;
    color: #6000e6;
    margin-bottom: 5px;
}
.form_template .section span {
    background: #6000e6;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
}

.form_template .privacy-policy{
    float: right;
    width: 250px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #4D4D4D;
    margin-top: 10px;
    text-align: right;
}

.button-admin {
    background: #7e00ff !important;
}

.button-admin:hover {
    background: #490092 !important;
}


.button-logout {
    background: #ff4a48 !important;
}

.button-logout:hover {
    background: #8f2d2c !important;
}


/*********************************
*          ARTICLE PAGE
**********************************/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

/* Columns */
.left-column {
    width: 30%;
}

.left-column img {
    margin-top: 50px;
}

.right-column {
    width: 65%;
    margin-top: 60px;
}

/* Right Column */

/* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}
.product-description span {
    font-size: 18px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
.product-description h1 {
    font-weight: 300;
    font-size: 30px;
    color: #43484D;
    letter-spacing: -2px;
}
.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}

/* Product Price */
.product-price {
    display: flex;
    align-items: center;
}

.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}

.cart-btn {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}

.cart-btn:hover {
    background-color: #64af3d;
}

/*********************************
*           CART
**********************************/

.main h1 {
    text-align: center;
}

.sub-heading {
    text-align: center;
    margin: .5rem 0 1rem;
}
.sub-heading {
    font-size: .75em;
    font-weight: 300;
}

._grid {
    text-align: justify !important;
    font-size: 0 !important;
    text-rendering: optimizespeed;
}
._grid:after {
    content: "";
    display: inline-block;
    width: 100%;
}
._column {
    display: inline-block;
    vertical-align: top;
    font-size: medium;
    text-align: left;
    text-rendering: optimizeLegibility;
}

._btn {
    display: inline-block;
    background-color: #6000e6;
    color: white;
    border: none;
    padding: .5em .75em;
    text-align: center;
    font-weight: 300;
}
._btn:hover,
.cart-totals:hover ._btn {
    background-color: #6000e6;
    color: #ecf0f1;
}

.shopping-cart {
    width: 80%;
    max-width: 60rem;
    margin: 0 auto;
}

.shopping-cart--list-item {
    border: 1px solid #bdc3c7;
    margin-bottom: 3rem;
    height: 10rem;
    overflow: hidden;
}
.shopping-cart--list-item:hover,
.shopping-cart--list-item:hover * {
    border-color: #6000e6;
}
.shopping-cart--list-item > ._column {
    height: 100%; /* make vertical lines match */
}


.product-image {
    width: 16.663198%;
    background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") no-repeat center / cover transparent;
}


.product-info {
    width: 70.832119%;
    padding: .5rem;
}
.product-name {
    font: 300 2.4em/1 "Lato", sans-serif;
    letter-spacing: -.025em;
    margin: 0 0 .125em;
}
.price {
    line-height: 1;
    text-align: right;
}
.product-single-price {
    margin-top: -1rem;
    font-size: 2.4em;
}

.product-modifiers {
    width: 12.496358%;
    text-align: right;
    border-left: 1px solid #bdc3c7;
}
.product-subtract,
.product-plus,
.product-qty {
    width: 33.330557%;
    background-color: transparent;
    color: #686868;
    text-align: center;
}
.product-qty {
    padding: .35em .75em;
}
.product-remove {
    font-size: .875em;
    margin-top: 3.35rem;
    background-color: #e74c3c;
    color: #ecf0f1;
    width: 100%;
    visibility: hidden;
}
.product-modifiers:hover .product-remove {
    visibility: visible;
}
.product-remove:before {
    margin-right: .5em;
}
.product-remove:hover {
    background-color: #c0392b;
}
.product-total-price {
    border-top: 1px solid #bdc3c7;
    color: #95a5a6;
    font-size: 1.25em;
    padding: .5rem;
}
.shopping-cart--list-item:hover .product-total-price {
    background-color: #6000e6;
    color: #ecf0f1;
}

.cart-totals {
    border-top: 1px solid #bdc3c7;
    margin-bottom: 3rem;
}
.cart-totals ._column {
    width: 19.984013%;
    padding: .5rem;
    line-height: 1.2;
}

.cart-totals ._column:not(:last-of-type) {
    border-right: 1px solid #bdc3c7;
}

.cart-totals ._column:first-of-type {
    padding-left: 0;
}

.cart-totals-key {
    font-size: 1.125em;
    color: #bdc3c7;
}

.cart-totals ._column:hover .cart-totals-value,
.cart-totals ._column:hover .cart-totals-key {
    color: #333;
}

.cart-totals-value {
    font-size: 2em;
}

._column.checkout {
    text-align: right;
    padding: 0;
    margin-top: 1.5em;
    vertical-align: middle;
}

.checkout-btn:before {
    margin-right: .5em;
}

._btn.checkout-btn:hover {
    background-color: #7e00ff;
}

.product-remove,
.cart-totals * {
    transition: all .2s ease;
}
.closing {
    transition: all .5s ease;
    transform: translate3d(0, -100%, 0);
    opacity: 0;
}

/*********************************
*           ANIMATION
**********************************/

@-webkit-keyframes swing {
    25% {
        -webkit-transform: rotate3d(0, 0, 1, 6deg);
        transform: rotate3d(0, 0, 1, 6deg);
    }

    50% {
        -webkit-transform: rotate3d(0, 0, 1, -4deg);
        transform: rotate3d(0, 0, 1, -4deg);
    }

    75% {
        -webkit-transform: rotate3d(0, 0, 1, 2deg);
        transform: rotate3d(0, 0, 1, 2deg);
    }

    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes swing {
    25% {
        -webkit-transform: rotate3d(0, 0, 1, 6deg);
        transform: rotate3d(0, 0, 1, 6deg);
    }

    50% {
        -webkit-transform: rotate3d(0, 0, 1, -4deg);
        transform: rotate3d(0, 0, 1, -4deg);
    }

    75% {
        -webkit-transform: rotate3d(0, 0, 1, 2deg);
        transform: rotate3d(0, 0, 1, 2deg);
    }

    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}